@import "tailwindcss";

:root {
  --default-font-family: "Alan Sans", sans-serif;

  --color-orange-100: #ffebe3cb;
  --color-orange-300: #ef7762;
  --color-orange-500: #ff4500;
  --color-orange-700: #6f1e01;

  --color-amber-800:  #713e46;

  --color-violet-700: #32083a;
}

select {
  appearance: none;
  background-image: url("./assets/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right .7rem top 50%;
  background-size: 1.30rem auto;  
}

::-webkit-scrollbar{
  width: 0.3rem;
}

::-webkit-scrollbar-thumb{
  background-color: #e4ece9;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}